<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>batalha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="ladoInimigo">
    <div class="barra-container">
      <div class="nome">Inimigo</div>
      <div class="barraDeVida" id="inimigo"></div>
    </div>
    <div class="personagemInimigo">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="Inimigo" />
    </div>
    
  </div>

  <!-- Bêbado -->
  <!-- <div class="ladoBebado">
    <div class="caraBebadi">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/25.png" alt="Bebado" />
    </div>

    <div class="areaOpcoes">
      <div class="barra-container">
        <div class="nome">Bêbado</div>
        <div class="barraDeVida" id="bebadi"></div>
      </div>




      @if (!mostrarAtaques) {
      <div class="opcoes">
        <ion-button expand="block" (click)="toggleAtaques()">Atacar</ion-button>
        <ion-button expand="block">Bolso do Bebo</ion-button>
        <ion-button expand="block" color="danger">Corre carai</ion-button>
      </div>
      }@else {
      <div class="ataques">
        <ion-button fill="outline" color="warning">Soco Etílico</ion-button>
        <ion-button fill="outline" color="warning">Arroto Venenoso</ion-button>
        <ion-button fill="outline" color="warning">Pisada Torta</ion-button>
        <ion-button fill="outline" color="warning">Cantada Confusa</ion-button>
      </div> 
      }  
    </div>
  </div>  -->

  <!-- src/app/pages/battle/battle.page.html -->
<ion-content>
  <ion-button (click)="usarAtaque()">
    Atacar
  </ion-button>

  <p>Dano causado: {{ dano }}</p>
  <p>Vida inimigo: {{ vidaInimigo }}</p>
</ion-content>

</ion-content>
