<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DGG GAME 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Wellcome to DGG</h2>
  <p>The Chronicles of Drunkenness</p>


  <div class="menu-container">
    <ion-button expand="block" (click)="startGame()">
      New Game
    </ion-button>

    <ion-button expand="block" color="secondary" (click)="openSaves()">
      Saves
    </ion-button>

    <ion-button expand="block" color="tertiary" (click)="showsettings()">
      Settings
    </ion-button>

    <ion-button expand="block" color="danger" (click)="exitGame()">
      Exit
    </ion-button>
  </div>
</ion-content>